body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: skyblue;
}

.header {
  text-align: center;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: 1;
  align-items: baseline;
}

.results {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 36px;
}

button {
  border-radius: 100%;
  border: 4px solid skyblue;
}

button:active {
  transform: scale(0.98);
}

img {
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
}

