body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.header {
  margin-top: 50px;
}

.scores {
  display: flex;
  font-size: 64px;
  gap: 20px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.status {
  font-size: 26px;
}

.results {
  display: flex;
  justify-content: center;
  font-size: 48px;
  flex: 1;
}

button {
  border-radius: 100%;
  border: 5px solid skyblue;
}

button:active {
  transform: scale(0.98);
}

img {
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
}

