body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.header {
  margin-top: 50px;
}

.scores {
  display: flex;
  font-size: 64px;
  gap: 20px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.status {
  font-size: 26px;
}

.results {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.container button {
  border-radius: 100%;
  border: 5px solid skyblue;
}

button:active {
  transform: scale(0.97);
}

img {
  width: 150px;
  height: 150px;
}

.restart-container {
  flex: 1;
}

.restart-container button {
  border: none;
  background-color: white;
  visibility: hidden;
}

.restart img{
  height: 70px;
  width: auto;
}

a {
  text-decoration: none;
}

